<footer class="footer-heading">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  {%- assign social = site.minima.social_links -%}

      <table class="footer-heading">
      <tr>
      <td> <a class="footer-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
      <br/>
      by Arthur Vickers </td>
      
      <td class="social-links">
      <a rel="me" href="https://github.com/{{ social.github | cgi_escape | escape }}" title="{{ social.github | escape }}">
        <svg class="svg-icon brand-color">
          <use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}">
          </use>
        </svg>
        GitHub
      </a>
      <br/>
      <a rel="me" href="https://twitter.com/{{ social.twitter | cgi_escape | escape }}" title="{{ social.twitter | escape }}">
        <svg class="svg-icon brand-color">
          <use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}">
          </use>
        </svg>
        Twitter
      </a>
      <br/>
    </td>
    </tr>
  
  </table>
    
</footer>
