<header class="site-header">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}

    <header class="page-header" role="banner">
      <div class="heading-table">

        <table>
          <tr>
            <td>
              <img class="a-unicorn" src="/assets/1unicorn.png" alt="Me">
            </td>
            <td>
              <a class="project-name" href="{{ "/" | relative_url }}">1unicorn2</a>
            </td>
            <td>
              <img class="a-unicorn" src="/assets/unicorn2.png" alt="Me">
            </td>
          </tr>
        </table>
      </div>

      <h2 class="project-tagline">{{ site.description }}</h2>
    </header>
  </div>
</header>
