<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {%- include head.html -%}

    <body>

      {%- include header.html -%}

      <main id="content" class="main-content" role="main"> {{ content }}

        <hr/>

        <div class="things-change">
          This post is known up-to-date as of {{ page.month }} {{ page.day }}, {{ page.year }}.
          Some things change.
          Some things stay the same.
          Use your noggin.<sup><a href="">*</a></sup>
        </div>
        <br/>
    

     {%- assign social = site.minima.social_links -%}

     <div class="footer-heading">
      <table>
        <tr>
          <td> <a class="footer-title" href="{{ "/" | relative_url }}">1uni<span class="project-sub">xy</span>c<span class="project-sub">#</span>or<span class="project-sub">e</span>n<span class="project-sub">et</span>2</a>
          <br/>
          <a href="/about" title="About me">by Arthur Vickers</a>
          </td>
        
          <td>
            <a href="https://github.com/{{ social.github | cgi_escape | escape }}" title="{{ social.github | escape }}">
              <svg class="svg-icon brand-color">
                <use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}">
                </use>
              </svg>
              GitHub
            </a>
            <br/>
            <a href="https://twitter.com/{{ social.twitter | cgi_escape | escape }}" title="{{ social.twitter | escape }}">
              <svg class="svg-icon brand-color">
                <use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}">
                </use>
              </svg>
              Twitter
            </a>
            <br/>
          </td>
        </tr>
      </table>
    </div>
    
      </main>
    </body>
  </html>
